body{
    background: #F3F5FC;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.logo{
    padding-top: 40px;
    padding-left: 40px;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}
.secciones{
}
#seccion1{
}
#seccion2{
    background: white;

    background-repeat: no-repeat;
    border: none;
    border-radius: 32px;
    color: #0A3871;
    margin-left: 40px;
    margin-top: 40px;
    padding-left: 40px;
    width: 500px;

}

.caja-texto{ 
    border: none;
    background: none;
    color: #0A3871;
    margin-top: 160px;
    margin-left: 100px;
    text-transform: lowercase;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    height: 300px;
}
::placeholder{
    color: #0A3871;
}

.caja-texto:focus{
    outline: none;
}



.texto-resultado{
    background: none;
    background-image: url("/img/Muneco.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 32px;
    color: #0A3871;
    margin-left: 40px;
    margin-top: 40px;
    padding-left: 40px;
    width: 400px;
    height: auto;
    
}
.texto-resultado:focus{
    outline: none;
}

.cartel1{
    color: #343A40;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
}

.cartel2{
    color: #495057;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.contenedor-botones{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn-encriptar{
    background: #0A3871;
    border: 1px solid #0A3871;
    color: white;
    border-radius: 24px;
    padding: 24px;
    /*grid-gap: 8px;*/   
    cursor: pointer;
    height: 67px;
    width: 320px;
    font-size: 16px;
    line-height: 19.36px;
}

.btn-desencriptar{
    background: #E9ECF8;
    border: 1px solid #0A3871;
    color: #0A3871;
    border-radius: 24px;
    padding: 24px;
    cursor: pointer;
    height: 67px;
    width: 320px;
    font-size: 16px;
    line-height: 19.36px;
}

.btn-copiar{
    background: #E9ECF8;
    border: 1px solid #0A3871;
    color: #0A3871;
    border-radius: 24px;
    padding: 24px;
    cursor: pointer;
    height: 67px;
    width: 320px;
    font-size: 16px;
    line-height: 19.36px;
}

.alerta {
    padding: 20px;
    margin-left: 40px;   
    font-size: 12px;
    vertical-align: middle;
}

.ico-alerta {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.pie-pagina {
    width: 100%;
    padding: 20px;
    margin: 20px;
    height: 70px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    font-size: 1 rem;
}

span {
    font-weight: 700;
}

/*body {
    background: #F3F5FC;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

header {
    width: 100%;
    height: 70px;
}

.logo {
    width: 30px;
    height: 40px;
    padding-top: 40px;
    padding-left: 40px;
}

.contenedor-caja-texto {
    margin: 40px;
    padding: 40px;
    border: none;
}

textarea::placeholder {
    font-family: "Inter", sans-serif;
    color: #0A3871;
    font-size: 32px;
}

.caja-texto {
    color:#0A3871;
    font-size: 32px;
}

.encabezado {
}
.logo {
}
.seccion1 {
    width: 60%;
    display: inline-block;
}
.contenedor-caja-texto {
}
.caja-texto {
    margin: 0 0 0 40px;
    padding: 40px;
    width: 400px;
    height: auto;
    background: transparent;
    border-color: transparent;
}
.alerta {
    padding: 20px;
    margin-left: 40px;   
    font-size: 12px;
    font-weight: 400;
    vertical-align: middle;
}
.ico-alerta {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.contenedor-botones {
}
.btn-encriptar {
    width: 320px;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 400;
    color: #E9ECF8;
    background: #0A3871;
    border:none;
    border-radius: 24px;
}
.btn-desencriptar {
    width: 320px;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 400;
    color: #0A3871;
    background: #E9ECF8;
    border: 1px solid #0A3871;
    border-radius: 24px;
}
.seccion2 {
    width: 40%;
    padding: 20px;
    margin: 40px;
    border: none;
    background: white;
    width: 400;
    border-radius: 32px;

}
.contenedor-resultado {
}
.texto-resultado {
    margin: 0 0 0 40px;
    padding: 40px;
    width: 400px;
    height: auto;
    background: transparent;
    border-color: transparent;
}
.contenedor-munieco {
    text-align: center;
}
.contenedor-parrafo h3 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
}
.contenedor-parrafo p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 20px;
}
.contenedor-copiar {
    text-align: center;
}
.btn-copiar {
    width: 320px;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 400;
    color: #0A3871;
    background: #E9ECF8;
    border: 1px solid #0A3871;
    border-radius: 24px;
}
.pie-pagina {
    width: 100%;
    padding: 20px;
    margin: 20px;
    height: 70px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    font-size: 1 rem;
}
span {
    font-weight: 700;
}
*/